@font-face {
    font-family: 'noto-bold';
    src: url('/src/assets/fonts/Noto_Sans/NotoSansHebrew-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'noto-med';
    src: url('/src/assets/fonts/Noto_Sans/NotoSansHebrew-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'noto-reg';
    src: url('/src/assets/fonts/Noto_Sans/NotoSansHebrew-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'noto-thin';
    src: url('/src/assets/fonts/Noto_Sans/NotoSansHebrew-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'noto-light';
    src: url('/src/assets/fonts/Noto_Sans/NotoSansHebrew-Light.ttf') format('truetype');
}

