// Colors
$clr1: #F97316;
$clr2: #f98939;
$clr3: #f9a907;
$clr4: #f8b382;
$clr5: #fed9bf;
$clr6: #fdfbee;
$clr7: #ffffff;

$gray1: #ddd;
$gray2: #aaa;
$gray3: #777;
$gray4: #333;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;